@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.max-width-500 {
  max-width: 500px;
  width: 100%;
}

/* Custom styles for transaction amounts */
.amount-positive {
  color: #198754; /* Bootstrap success color */
}

.amount-negative {
  color: #dc3545; /* Bootstrap danger color */
}

/* Add responsive padding */
@media (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
}
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
